.CreateTodoButton {
  height: 3.125rem;
  width: 3.125rem;
  border-radius: 50%;
  outline: none;
  border: none;
  cursor: pointer;
  font-size: 25px;
  background-color: rgb(0, 255, 0);
  color: rgb(255,255,255);
  right:-70px;
  bottom: 40px;
  position:absolute;
  margin-right:16px;
  margin-bottom:16px;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  transition:.3s;  
  }
  
  .CreateTodoButton:hover {
    opacity: 0.5;
  }