.TodoCounter {
  padding: 65px 0px 0px 0px;
  width: 100%;
}

.styling {
  font-weight: 800;
  color: rgb(0, 255, 0);
}

h1 {
  font-size: 3rem;
  font-weight: 50;
  text-align: center;
  color: #ffffff;
  font-family: 'Hind Siliguri', sans-serif;
}

.Title {
  text-align: center;
  font-weight: 600;
  margin: 0rem 0 3rem;
  color: #ffffff;
  font-family: 'Hind Siliguri', sans-serif;
}