body {
  background-color: rgb(17, 17, 17);
  margin: 0;
  padding: 0;
}

.loading {
  text-align: center;
  margin-top:10%;
  color: aliceblue;
  font-weight: 600;
  font-size: 18px;
}

.TODO {
  color: #00ff00;
  font-weight: 600;
  font-size: 24px;
}

.fancy-spinner {
  display: flex;
  margin: auto !important;
  justify-content: center;
  align-items: center;
  width: 5rem;
  height: 5rem;
}
.fancy-spinner div {
  position: absolute;
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
}
.fancy-spinner div.ring {
  border-width: 0.5rem;
  border-style: solid;
  border-color: transparent;
  animation: 2s fancy infinite alternate;
}
.fancy-spinner div.ring:nth-child(1) {
  border-left-color: #fff;
  border-right-color: #fff;
}
.fancy-spinner div.ring:nth-child(2) {
  border-top-color: #fff;
  border-bottom-color: #fff;
  animation-delay: 1s;
}
.fancy-spinner div.dot {
  width: 1rem;
  height: 1rem;
  background: #fff;
}
@keyframes fancy {
  to {
    transform: rotate(360deg) scale(0.5);
 }
}
